PACIFICA_PRIVATE_KEY=your_base58_encoded_solana_private_key
PACIFICA_PUBLIC_KEY=your_solana_public_key
PACIFICA_AGENT_WALLET=optional_agent_wallet_public_key
PACIFICA_BUILDER_CODE=optional_builder_code
PACIFICA_TESTNET=true
